h1 {
  color: #333;
  font-size: 18px;
}
nav {
  display: inline-block;
  width: 480px;
  height: 480px;
  background: #d4d4d4;
}
nav li {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}
@media (max-width:768px) {
  nav {
    width: 100%;
  }
}
#container {
  background: #787878;
  color: #787878;
  font-size: 36px;
}
@media (max-width:768px) {
  #container {
    background: #879664;
  }
}
#container .visual {
  color: #787878;
  font-size: 21px;
  background: #245644;
}
